<%- include('templates/header',{title:'Experiencia'}); %>
<body class="qw">
    <center>
        <div class="jy">
            <h1>&#9203;Experiencia</h1>
        </div>
    </center>
    <br>
    <br>
    <div class="tg">
        <p> He tenido la oportunidad de cultivar una experiencia en diversos proyectos como:</p>
        <p>
            Buganvila:2018-01-10, Un sistema de infromacion para el control y registro de entrada <br>
            y salida de vehiculos y personas.
            <br>
            <br>
            SumTime:2021-01-25 , Sistma para la gestion de tiempo y horarios para la empresa SumiTime.


        </p>
    </div>
</body>
</html>