<%- include('templates/header',{title:'Tecnologias'}); %>
<body class="qw">
    <center>
        <div class="jy">
            <strong><h1>&#127760;<%=titulo%></h1></strong> 
        </div>
       
    <br>
    <br>
    <div class="ju">
        <p>
            En las tecnologias que he manejado y trabajado se encuentran: <br> <br>
            -Java <br> 
            -Sql <br> 
            -Js <br> 
            -Php <br>
            -Frameworks <br>
            -Laravel <br> 
            -Express <br> 
            -React
            
        </p>
    </div>
    </center>
    
</body>
</html>